@page "/datagrid/search"
@using Syncfusion.Blazor.Grids;
@using BlazorApp.Model


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@results" AllowPaging="true" >
               <GridColumns>
                    <GridColumn Field=@nameof(HomePerformanceRow.Investment) HeaderText="column a" ></GridColumn>
                    <GridColumn Field=@nameof(HomePerformanceRow.Strategy) HeaderText="column b" ></GridColumn>
                    <GridColumn Field=@nameof(HomePerformanceRow.DailyReturnDollar) HeaderText="column c" ></GridColumn>
                    <GridColumn Field=@nameof(HomePerformanceRow.MtdReturnDollar) HeaderText="column d" ></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>


@code {

    private HomePerformanceRow[] results;

    protected override async Task OnInitializedAsync()
    {
        var bag = new List<HomePerformanceRow>();
        bag.Add(new HomePerformanceRow(){Investment="Fund A", Strategy = "Equity L/S",
            DailyReturnDollar= "150,000", DailyReturnPercent= "1.2%", 
            MtdReturnDollar="300,000", MtdReturnPercent="2.3%"});
        bag.Add(new HomePerformanceRow(){Investment="Fund B", Strategy = "Distressed",
            DailyReturnDollar= "3,000,000", DailyReturnPercent= "1.3%", 
            MtdReturnDollar="9,000,000", MtdReturnPercent="8.9%"});
        bag.Add(new HomePerformanceRow(){Investment="Fund C", Strategy = "Relative value",
            DailyReturnDollar= "(900,000)", DailyReturnPercent= "(-0.5%)", 
            MtdReturnDollar="400,513", MtdReturnPercent="4.8%"});
        bag.Add(new HomePerformanceRow(){Investment="Fund D", Strategy = "Event Driven",
            DailyReturnDollar= "40,000", 
            DailyReturnPercent= "0.2%", MtdReturnDollar="30,000", MtdReturnPercent="0.08%"});
        results = await Task.FromResult(bag.ToArray());
        Console.WriteLine("TEST....");
        Console.WriteLine(results.Length);
    }
}
